ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=postgresql://replyai:change-me@db:5432/replyai
REDIS_URL=redis://redis:6379/0

ROOT_PASSWORD=change-me
ROOT_EMAIL=john.doe@example.com

EVOLUTIONAPI_SERVER_URL=http://evolution-api:8080
EVOLUTIONAPI_GLOBAL_KEY=your-key

# Warning: Generate new random values before deploying to production.
SECRET_KEY=0ee9550998ce69ecf3115ecfd812135509898e654d01933e55e0d3a770d205b0 # Used for JWT signing and other cryptographic operations.
MASTER_KEY=f273697d440ca4f1d8006bafed32acd5f303046b77e74493d4a1571f6af416eb # Encrypts sensitive data in the database.

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=your-google-redirect-uri

MICROSOFT_CLIENT_ID=your-microsoft-client-id
MICROSOFT_CLIENT_SECRET=your-microsoft-client-secret
MICROSOFT_REDIRECT_URI=your-microsoft-redirect-uri

FAILED_AUTH_URL=your-failed-auth-url
SUCCESS_AUTH_URL=your-success-auth-url

AZURE_CONTAINER_NAME=uploads
AZURE_STORAGE_CONNECTION_STRING=your-azure-storage-connection-string

AZURE_POSTGRES_CERT=cert

# PostgreSQL - used only for development (docker-compose.yml).
# In production, the application would use a managed PostgreSQL service configured through DATABASE_URL.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres

REPLYAI_PSQL_USER=replyai
REPLYAI_PSQL_PASSWORD=change-me
REPLYAI_PSQL_DB=replyai

EVOLUTIONAPI_PSQL_USER=evolutionapi
EVOLUTIONAPI_PSQL_PASSWORD=change-me
EVOLUTIONAPI_PSQL_DB=evolutionapi

# EvolutionAPI - used only for development (docker-compose.yml).
# In production, these variables would be configured directly in the EvolutionAPI service.
AUTHENTICATION_API_KEY=change-me

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolutionapi:change-me@db:5432/evolutionapi
DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange

DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_DATA_HISTORIC=true

CONFIG_SESSION_PHONE_VERSION=2.3000.1031549105

WEBHOOK_FORMAT=base64
SEND_BASE64=true
SEND_MEDIA_BASE64=true

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_REDIS_SAVE_INSTANCES=false

CACHE_LOCAL_ENABLED=false
