ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=postgresql://postgres:root@localhost:5432/postgres

EVOLUTIONAPI_SERVER_URL=http://localhost:8080
EVOLUTIONAPI_GLOBAL_KEY=your-key

SECRET_KEY=change-me
MASTER_KEY=change-me

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=your-google-redirect-uri

MICROSOFT_CLIENT_ID=your-microsoft-client-id
MICROSOFT_CLIENT_SECRET=your-microsoft-client-secret
MICROSOFT_REDIRECT_URI=your-microsoft-redirect-uri

FAILED_AUTH_URL=your-failed-auth-url
SUCCESS_AUTH_URL=your-success-auth-url

AZURE_CONTAINER_NAME=uploads
AZURE_STORAGE_CONNECTION_STRING=your-azure-storage-connection-string

AZURE_POSTGRES_CERT=cert