alembic==1.14.0
azure-identity==1.19.0
azure-storage-blob==12.24.1
bcrypt==4.2.1
cryptography==44.0.0
elevenlabs==1.13.5
fastapi==0.115.6
google-api-python-client==2.158.0
httpx==0.28.1
msal==1.31.1
msal-extensions==1.2.0
msgraph-sdk==1.14.0
openai==2.15.0
passlib==1.7.4
pillow==11.1.0
psycopg2-binary==2.9.10
pydantic==2.10.3
pydantic_core==2.27.1
PyJWT==2.10.1
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2024.2
redis==7.1.0
requests==2.32.3
requests-oauthlib==2.0.0
rq==2.6.1
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uvicorn==0.32.1
